h1{
    padding: 20px;
}
.box{
    
    height: 70px;
    width: 560px;
    padding: 10px;
    
    border-radius: 10px;
}

.searchbar{
    border: 0;
    margin-top: 8px;
    width: 70%;
    height: 40px;
    background: none;
    border: 2px solid #3498db ;
    padding: 10px 10px;
    outline: none;
    color: white;
    transition: 0.3s;
    border-radius: 10px 0px 0px 10px;
}
.searchbar:focus{
    border-color: #2ecc71;
}

.searchbtn{
    margin-left: -6px;
    top: 0px;
    border: none;
    outline: none;
    background: none;
    color: #3498db;
    border: 2px solid #3498db;
    height: 40px;
    width: 7rem;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0px 10px 10px 0px;
}

.searchbtn:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}

/* @media screen and (max-width: 768px) {
    .box {
      margin-left: 10px;
      width: 480px;
    }
    .searchbar{
        width: 270px;
    }
  } */