<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='recstyle.css') }}" type="text/css" rel="stylesheet">
    <title>Document</title>
    <style>
        h1{
    color: white;
    }
    h2{
        font-family: comic sans ms;
    }
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
    </style>
</head>
<body>
    <div class="searchbox">
        <form class="box">
            <input class="searchbar" placeholder="Search movies..." type="text" name = "movie">
            <input type="submit" class="searchbtn" value="Search">
        </form>
    </div>
    <hr>

    {% if y=='y' %}
    <div>
      <h3 style="color:rgb(0, 102, 255)">Sorry! This movie is not in our database.</h3>
      <h3 style="color:rgb(0, 102, 255)">Please check if you spelled it correct.</h3>
      <h3 style="color:rgb(0, 102, 255)">Or try with another movie.</h3>
    </div>
  
    {% else %}
    <h1>You Searched For :{{movie}}</h1>

    <div class="row">
        {% for m in recom %}
        <div class="column">
          <div class="card">
            <h2>{{m|capitalize}}</h2>
          </div>
        </div>
        {% endfor %}
    </div>

    {% endif %}
    
</body>
</html>